body,html {
    color: #FFF;
    background: #252e39;
    font-family: 'Aldrich', Arial !important;
}

#gicon {
    width:158px;
    margin: 0;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.icon {
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
}

.hl {
    color: #14a7d0;
}

input {
    color: black;
}

.error {
    background-color: #d03914;
    color: black;
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.ok {
    background-color: #14d07e;
    color: black;
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.vac {
    width: 300px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.cqform {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    text-align: center;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}
.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #252e39;
}
.pure-table-striped tr:nth-child(2n) td {
    background-color: #4a5c72;
}
.pages {
    text-align: center;
    word-spacing: 15px;
}
.big {
    font-size: 26px !important;
}
.small {
    font-size: 14px !important;
}
.small img {
    float: right;
    width: 25px;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
    top:0;
    background-color: #161b22;
}
    #layout.active #menu {
        left: 180px;
        width: 180px;
    }

    #layout.active .menu-link {
        left: 180px;
    }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
    background-color: #161b22;
    text-align: justify;
}

.footer {
    font-size: 87.5%;
    margin-top: 3.4286em;
    padding: 1.1429em;
    background: #252e39;
}

.footer-left {
    text-align: left;
    margin: 0;
    font-family: 'Aldrich', Arial !important;
}

.footer-right {
    text-align: right;
    margin: 0;
    font-family: 'Aldrich', Arial !important;
}

.legal {
    line-height: 1.6;
    text-align: center;
    margin: 0 auto;
}

.header {
     margin: 0;
     color: #FFF;
     text-align: center;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

a,a:visited {
    color: #14a7d0;
    text-decoration: none;
}

a:hover {
    color: #90d2e5;
    text-decoration: none;
}

.divisor {
    background-color: #252e39 !important;
}

.btn {
    color: #252e39;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -180px; /* "#menu" width */
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #252e39;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #EEE;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #EEE;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #14a7d0;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #14a7d0;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 180px; /* left col width "#menu" */
        left: 0;
        top:0;
    }
    #menu {
        left: 180px;
    }

    .menu-link {
        position: fixed;
        left: 180px;
        display: none;
    }

    #layout.active .menu-link {
        left: 180px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 180px;
        top:0;
    }
}


.wrapper {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 3px;
    
    transition: width 500ms ease-in-out;
}

.pollarea {
    background: #252e39;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin:20px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}

.comment {
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
}

.table-sort th {
    border-bottom: 1px solid #ddd;
    position: relative;
    cursor: pointer;
}

.table-sort th.desc:after {
    border-top-color: #666;
}
  
.table-sort th.asc:before {
    border-bottom-color: #666;
}
  
.table-sort th:after, .table-sort th:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
}
  
.table-sort th:after {
    border-top-color: #ddd;
    top: 22px;
}
  
.table-sort th:before {
    border-bottom-color: #ddd;
    top: 10px;
}

option,select {
    color: black;
}